<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Login</h1>
<!-- [1] 로그인 폼 -->
<form method="post" action="/login/processing">
  <label>
    username
    <!-- [2] 사용자 이름, 비밀번호 입력 -->
    <input type="text" name="username">
  </label>
  <label>
    password
    <input type="password" name="password">
  </label>
  <!-- [3] 제출 버튼 -->
  <input type="submit" value="login"/>
</form>
<div>
  <a href="/signup">signup</a>
  <!-- 에러 메시지를 출력 -->
  <p style="color: red" th:if="${errorMessage != null}" th:text="${errorMessage}"></p>
</div>
</body>
</html>